.btn{
    background-color: white;
    border-radius: 10%;
    font-size: 20px;
    border: 1px white solid;
    margin: 20px;
}
.topRightAddCounterBtn{
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 50px;
    border-radius: 50%;
    padding: 0px 14px;
    border: 1px solid black;
}