.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
      align-items: center;
    justify-content: center;
}

/* 
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
